/* <<<< Import File Css >>>> */
@import url(/css/reset.css);
/* <<<< Import File Css >>>> */

/* <<<< Add Font Family >>>> */
@font-face {
    font-family: iranMedium;
    src: url(/font/IRANSansX-Medium.woff);
}
@font-face {
    font-family: iranBold;
    src: url(/font/IRANSansX-Bold.woff);
}
@font-face {
    font-family: iranBlack;
    src: url(/font/IRANSansX-Black.woff);
}
/* <<<< Add Font Family >>>> */

/* <<<< Root = Variable >>>> */
:root{
    --bgColor : #232940;
    --primaryColor1 : #2F3349;
    --primaryColor2 : #343951;
    --btnColor: #7367F0;
    --btnColor2: #685DD8;
    --textColor1 : #B0B4CD;
    --textColor2 : #635BC9;
    --blueColor1: #274C62;
    --blueColor2: #0AAEC7;
    --redColor1 : #4D384B;
    --redColor2 : #B24A51;
    --greenColor1 : #2E4B4F;
    --greenColor2 : #28BE6D;
    --orangeColor : #E39148;
}
/* <<<< Root = Variable >>>> */

/* <<<< Body Style  >>>> */
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: iranMedium;
        font-size: 1rem;
        font-weight: 700;
        color: var(--textColor1);
        background-color: var(--bgColor);
        line-height: 1.6;
        overflow-x: hidden;
    }
/* <<<< Body Style  >>>> */

/* <<<< Box Style >>>> */
.box{
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: var(--primaryColor1);
    border-radius: 0.3rem;
}
/* <<<< Box Style >>>> */

/* <<<< wrapper >>>> */
.wrapper{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
}
/* <<<< wrapper >>>> */

/* <<<< Sidebar Style  >>>> */
.sidebar{
    display: block;
    position: sticky;
    width: 100%;
    height: 100dvh;
    padding: 1rem;
    background-color: var(--primaryColor1);
}
.sidebar_logo{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
.sidebar_logo_link{
    display: block;
    text-decoration: none;
    font-family: iranBlack;
    font-size: 250%;
    color: var(--textColor2);
}
.sidebar_items_menu{
    display: block;
    width: 100%;
    margin-top: 2rem;
}
.sidebar_item{
    display: block;
    margin-bottom: 1.5rem;
}
.sidebar_item_link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--textColor1);
    padding: 0.4rem;
    border-radius: 0.3rem;
    transition: all 0.4s linear;
}
.sidebar_item_link:hover{
    background-color: var(--primaryColor2);
}
.sidebar_item_link_active{
    background-color: var(--primaryColor2);
}
.sidebar_item_linkIcon{
    margin-left: 0.5rem;
}
.sidebar_item_linkIcon .fa{
    font-size: 1.5rem;
}
.sidebar_item_linktext{
    font-weight: 500;
}
/* <<<< Sidebar Style  >>>> */
/* <<<<>>>> */