/* <<<< Import File Css >>>> */
@import url(/css/reset.css);
/* <<<< Import File Css >>>> */

/* <<<< Add Font Family >>>> */
@font-face {
    font-family: iranMedium;
    src: url(/font/IRANSansX-Medium.woff);
}
@font-face {
    font-family: iranBold;
    src: url(/font/IRANSansX-Bold.woff);
}
@font-face {
    font-family: iranBlack;
    src: url(/font/IRANSansX-Black.woff);
}
/* <<<< Add Font Family >>>> */

/* <<<< Root = Variable >>>> */
:root{
    --bgColor : #232940;
    --primaryColor1 : #2F3349;
    --primaryColor2 : #343951;
    --btnColor: #7367F0;
    --btnColor2: #685DD8;
    --textColor1 : #B0B4CD;
    --textColor2 : #635BC9;
    --blueColor1: #274C62;
    --blueColor2: #0AAEC7;
    --redColor1 : #4D384B;
    --redColor2 : #B24A51;
    --greenColor1 : #2E4B4F;
    --greenColor2 : #28BE6D;
    --orangeColor : #E39148;
}
/* <<<< Root = Variable >>>> */

/* <<<< Body Style  >>>> */
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: iranMedium;
        font-size: 1rem;
        font-weight: 700;
        color: var(--textColor1);
        background-color: var(--bgColor);
        line-height: 1.6;
        overflow-x: hidden;
    }
/* <<<< Body Style  >>>> */


/* <<<< Box Style >>>> */
.box{
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: var(--primaryColor1);
    border-radius: 0.3rem;
}
/* <<<< Box Style >>>> */

/* <<<< wrapper >>>> */
.wrapper{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
}
/* <<<< wrapper >>>> */


/* <<<< button >>>> */
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--btnColor);
    font-size: 1rem;
    font-weight: 700;
    color:#fff;
    transition: all 0.4s linear;
}
.button:hover{
    background-color: var(--btnColor2);
}
/* <<<< button >>>> */

/* <<<< Sidebar Style  >>>> */
.sidebar{
    display: block;
    position: sticky;
    width: 100%;
    height: 100dvh;
    padding: 1rem;
    background-color: var(--primaryColor1);
}
.sidebar_logo{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
.sidebar_logo_link{
    display: block;
    text-decoration: none;
    font-family: iranBlack;
    font-size: 250%;
    color: var(--textColor2);
}
.sidebar_items_menu{
    display: block;
    width: 100%;
    margin-top: 2rem;
}
.sidebar_item{
    display: block;
    margin-bottom: 1.5rem;
}
.sidebar_item_link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--textColor1);
    padding: 0.4rem;
    border-radius: 0.3rem;
    transition: all 0.4s linear;
}
.sidebar_item_link:hover{
    background-color: var(--primaryColor2);
}
.sidebar_item_link_active{
    background-color: var(--primaryColor2);
}
.sidebar_item_linkIcon{
    margin-left: 0.5rem;
}
.sidebar_item_linkIcon .fa{
    font-size: 1.5rem;
}
.sidebar_item_linktext{
    font-weight: 500;
}
/* <<<< Sidebar Style  >>>> */

/* <<<< Navbar Style >>>> */
.navBar{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem auto;
    background-color: var(--primaryColor1);
    padding: 0.7rem;
    border-radius: 0.3rem;
}
.navBar_menu{
    position: relative; 
    width: 300px;
}
.navbar_menu_icon .fa{
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.4s linear;
}
.navbar_menu_icon .fa:hover{
    color: var(--textColor2);
}
.navbar_menu_items{
    display: block;
    position: absolute;
    top:3rem;
    left: -1300px;
    width: 100%;
    padding: 0.4rem;
    background-color: var(--primaryColor1);
    z-index: 999;
    transition: all 0.8s linear;
}
.active{
    left: 0;
}
.navbar_item{
    display: block;
    margin-bottom: 1rem;
}
.navbar_item_link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--textColor1);
    padding: 0.4rem;
    border-radius: 0.4rem;
    transition: all 0.4s linear;
}
.navbar_item_link:hover{
    background-color: var(--primaryColor2);
}
.navbar_item_link_active{
    background-color: var(--primaryColor2); 
}
.navbar_item_linkIcon .fa{
    font-size: 1.4rem;
}
.navbar_item_linktext{
    display: block;
    margin-right: 0.5rem;
    font-size: 1rem;
}

.navbar_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navbar_search{
    display: flex;
    width: clamp(100px , 30vh ,400px    );
    height: 2.5rem;
    background-color: var(--primaryColor2);
    border-radius: 0.3rem;
}
.navbar_search_icon{
    outline: none;
    border: none;
    background-color: unset;
}
.navbar_search_icon .fa{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor1);
    font-size: 1.2rem;
}
.navbar_search_input{
    width: 100%;
    outline: none;
    border: none;
    background-color: unset;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--textColor1);
}

.navbar_notification_profile{
    display: flex;
    align-items: center;
}
.navbar_notification{
    display: block;
    position: relative;
    cursor: pointer;
}
.navbar_notification_icon_text{
    display: block;
    position: relative;
}
.navbar_notification_icon .fa{
    font-size: 1.7rem;
}
.navbar_notification_text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -0.7rem;
    right: -0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--redColor2);
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: 700;
}

.navbar_notification_menu{
    display: block;
    position: absolute;
    top: 3rem;
    left: -500px;
    width: 300px;
    padding: 0.6rem;
    background-color: var(--primaryColor2);
    transition: 0.8s linear;
}
.showNotifi{
    left: 0;
}
.navbar_notification_menu_title{
    display: block;
    margin: 0.5rem 0;
    font-family: iranBold;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--textColor1);
}
.navbar_notification_items{
    display: block;
}
.navbar_notification_item{
display: block;
background-color: var(--primaryColor1);
padding: 0.4rem;
margin-bottom: 0.5rem;
}
.navbar_notification_img_name{
    display: flex;
    align-items: center;
}
.navbar_notification_img{
    width: 60px;
    border-radius: 50%;
}
.navbar_notification_name{
    font-family: iranBold;
    font-size: 0.9rem;
    margin-right: 0.5rem;
}
.navbar_notification_sub{
    display: block;
    text-align: center;
}
.navbar_notification_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px  solid var(--textColor1);
}
.navbar_notification_btn{
    margin: 0 1rem;
}
/* <<<< Navbar Style >>>> */
/* <<<<>>>> */